<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xiaojun.huayu">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="花屿"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name=".HuaYuan.BroadCastReceiver.BlueToothBroadCastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7ffd54ac58f77b66183763311c88c235" />

        <activity android:name=".HuaYu.Activity.HomeActivity" />
        <activity android:name=".UserLogin.LoginActivity" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".HuaYuan.Service.BreedService">
            <intent-filter>
                <action android:name="com.example.xiaojun.huayu.BreedService" />
            </intent-filter>
        </service>
        <service
            android:name=".HuaYuan.Service.DrinkService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.xiaojun.huayu.DrinkService" />
            </intent-filter>
        </service>
        <service
            android:name=".HuaYuan.Service.ChangeSoilService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.xiaojun.huayu.ChangeSoilService" />
            </intent-filter>
        </service>
        <service
            android:name=".HuaYuan.Service.ScissorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.xiaojun.huayu.ScissorService" />
            </intent-filter>
        </service>
        <service
            android:name=".HuaYuan.Service.FertilizateService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.xiaojun.huayu.FertilizateService" />
            </intent-filter>
        </service>

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserLogin.UnableRegistActivity" />
        <activity android:name=".HuaYuan.Activity.PlantDetailActivity" />
        <activity android:name=".HuaYu.Activity.ArticleDetailActivity" />
        <activity android:name=".HuaYuan.Activity.RemindSettingActivity" />
        <activity android:name=".HuaHu.Activity.HuaHuActivity" />
        <activity android:name=".UserLogin.UnableLoginActivity" />
        <activity android:name=".UserLogin.NewUserRegistActivity" />

        <receiver android:name=".HuaYuan.Fragment.HuaYuanFragment$UpdateUIBroadcastReceiver" />
        <receiver android:name=".HuaYuan.Fragment.PlantDetailFragment$PlantDetailReceiver" />

        <activity android:name=".HuaJi.Activity.GoodsRecommendActivity" />
        <activity android:name=".UserLogin.UserMainActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.xiaojun.huayu.BmobContentProvider" />
    </application>

</manifest>